<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.7.0/lib/p5.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="{{ url_for('static', filename='js/GraphFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Graphs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/testSketch.js') }}"></script>
    <title>Data Story</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            margin: 0;
        }
        .frame {
            flex: 1;
            padding: 20px;
        }
        canvas {
            width: 100% !important;
            height: auto !important;
        }
    </style>
</head>
<body>
    <div class="frame" style="background-color: #f0f0f0;">
        <!-- Left frame content goes here -->
        <h1>Canvas</h1>
        <div id="leftCanvasContainer"></div>
    </div>
    <div class="frame" style="background-color: #e0e0e0;">
        <!-- Right frame content goes here -->
        <h1>Graphs</h1>
        <!-- Include your JavaScript file -->
        <svg id="chart-co2" width="100%" height="500"></svg>
        <svg id="chart-temp" width="100%" height="500"></svg>
        <svg id="chart-energy" width="100%" height="500"></svg>     
    </div>


</body>
</html>
